/* TIPOGRAFÍAS */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERALES */

*{
    margin: 0px;
    padding: 0px;
 }

 /* para que no se vean las líneas de los enlces */
 a:link, a:visited, a:active {
    text-decoration:none;
}
 
 body{
   overflow-x: auto;
   overflow-y:scroll;
     
     width: 100%;
     height: 115vh;
     background-color: rgb(246, 186, 247);
     /* background-color:#F5F5EC; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer; /* Cambia el cursor a una flecha */
 }
 /* navbar */

 .navbar{
    height: 15%;
    width: 100%;
   /*  background-color: rgb(246, 186, 247); */
   /*  border-bottom: 2px solid #091DD0;  */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center;

 }

 .navbar a{
    
    color:#091DD0;
    font-family: 'Raleway',thin,sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding-top: 2.5%; */
 }
       .navbar a:hover{
          text-shadow: 2px 2px 0px rgba(82, 191, 242, 0.5),
          -2px -2px 0px rgba(252, 25, 169, 0.5),
          -4px -4px 0px rgb(250, 255,4, 0.5);
        }

/* prueba para que el responsive sea más coherente */
 .estudio_portfolio{
   width: 42%;
   height: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
  /*  border: 3px solid rgb(41, 223, 87); */

 }
 .contacto_pintura{
   width: 42%;
   height: 100%;
   /* border: 3px solid rgb(41, 223, 87); */
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 
 }
 
 .pestañas{
    width: 50%;
    height: 100%;
   /*  border: 3px solid rgb(87, 41, 223);   */

 }
 .logotipo{
    width: 16%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
 }
      #l{
         height: 100%;
      }
      #logo{
         height: 100%;
      }
      #smile{
         height: 90%;
      }
      #enlace{
         width: 40%;
         height: 100%;

         /* border: 3px solid rgb(87, 41, 223);  */

         display: flex;
         justify-content: center;
         align-items: center;

      }
   
 /* ---------INDEX-------(cuerpo)------- */
 .body_2{
   height: 75%;
    width: 100%;

  /*  border: 3px solid rgb(255, 0, 0); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .smile{
/*    scroll-behavior: auto; */
    height: 70%;
    width: 50%;

  /*  border: 3px solid rgb(174, 255, 0); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s; /* transición suave */
 }
       #fondo_smile{
         height: 95%;
        /*  border: 3px solid rgb(213, 213, 233); */
       }
       .smile:hover{
         transform: rotate(360deg);/* gira */

       }
   .encabezado{
      height: 30%;
      width: 100%;
/*       border: 3px solid rgb(0, 4, 255); */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

       }
         .encabezado:hover{
            text-shadow: -2px -2px 0px rgba(82, 191, 242, 0.5),
               2px 2px 0px rgba(252, 25, 169, 0.5),
               4px 4px 0px rgb(250, 255,4, 0.5);

         }
         .encabezado p{
            color:#091DD0;
            font-family: 'Raleway',thin,sans-serif;
            font-weight: 300;
            font-size: 3rem;

         }
              #diseño{
               font-weight: 400;/* ? */
               text-shadow: 2px 2px 0px rgba(82, 191, 242, 0.5),
               -2px -2px 0px rgba(252, 25, 169, 0.5),
               -4px -4px 0px rgb(250, 255,4, 0.5); 

               }

 /* footer */
 footer{
    height: 10%;
    width: 97%;
    /* border: 3px solid rgb(0, 4, 255);   */
   /*  background-color: rgb(246, 186, 247);  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
 }
      .pie_pagina{
         width: 45%;
         height: 90%;
         /* border: 3px solid rgb(0, 4, 255);    */
      }
      footer p{
         color:#091DD0;
         font-family: 'Raleway',thin,sans-serif;
         font-weight: 400;
         font-size: 0.5rem;
      }
      #footer_img{
         height: 90%;
         width: auto;
         display: flex;
         justify-content: center;
      }
      #copy{
         display: flex;
         justify-content: flex-start;
         align-items: flex-end;
         
      } 
      #email{
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         
      } 


 /* ---------PÁGINA STUDIO---------- */
 
 /* PORTADA */
 #studio{
   background-color: rgb(243, 218, 244);
 }
 .studio{
    height: 75%;
    width: 100%;

   /*  border: 3px solid rgb(0, 4, 255);  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
      .texto{
        height: 60%;
        width: 70%;

        /* border: 3px solid rgb(240, 238, 246);   */

        display: flex;
        flex-direction: column ;
        justify-content: space-around;
        align-content: center;
      }
      .texto h1{ /* titulo EL ESTUDIO */
        height: 40%;
        width: 100%;

        /* border: 3px solid rgb(240, 238, 246);  */ 

        color:#091DD0;
        font-family: 'Raleway',thin,sans-serif;
        font-weight: 300;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center; 
        text-shadow: 2px 2px 0px rgba(82, 191, 242, 0.5),
          -2px -2px 0px rgba(252, 25, 169, 0.5),
          -4px -4px 0px rgb(250, 255,4, 0.5); 

      }
      .texto h3{
        height: 70%;
        width: 80%;

        color:#091DD0;
        font-family: 'Raleway',thin,sans-serif;
        font-weight: 300;
        font-size: 18px;

        align-self: center;

        /* border: 3px solid rgb(240, 238, 246);  */

      }
      .imagen{
        height: 40%;
        width: 70%;

        /* border: 3px solid rgb(120, 88, 214);  */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .foto{
        height: 100%;
        width: 30%;

        /* border: 3px solid rgb(120, 88, 214);  */

        display: flex;
        justify-content: center;
        align-items: center;
      }
         #irene{
            height: 80%;
      
         }
      .frase{
        height: 100%;
        width: 50%;

        /* border: 3px solid rgb(0, 0, 0);  */ 

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        color:#091DD0;
        font-family: 'Raleway',thin,sans-serif;

      }
           .frase h2{
              /* font-style: italic; */
              font-weight: 200;
              font-size: 16px;

            }
            .linea{
               width: 20%;
               border-top: solid 2px#091DD0;

            }
           .cursiva{/* "firma" */
              font-style: normal;
              font-weight: 300;
             /*  border-top: solid 2px#091DD0; */

            }
/* ---------PÁGINA CONTACT---------- */
 
 /* PORTADA */
 .contacto{
   height: 80%;
   width: 100%;

/*   border: 3px solid rgb(0, 4, 255);   */

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.direccion{
   height: 25%;
   width: 60%;

 /*   border: 3px solid rgb(70, 15, 234);  */ 
 }

      .direccion h1{ /* CONTACT */
          height: 60%;
          width: 100%;
       /*   border: 3px solid rgb(240, 238, 246);   */
         color:#091DD0;
         font-family: 'Raleway',thin,sans-serif;
         font-weight: 300;
         font-size: 30px;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         text-align: center; 
         text-shadow: 2px 2px 0px rgba(82, 191, 242, 0.5),
                     -2px -2px 0px rgba(252, 25, 169, 0.5),
                     -4px -4px 0px rgb(250, 255,4, 0.5); 
                  }
      .direccion h3{
         height: 40%;
          width: 100%;
         color:#091DD0;
         font-family: 'Raleway',thin,sans-serif;
         font-weight: 400;
         font-size: 12px;
         line-height: 16px;
         display: flex;
         justify-content: center;
         align-self: center;
         text-align: center;
         /* border: 3px solid rgb(240, 238, 246);  */
         display: flex;
         align-items: center;

      }
   .formulario{
      height: 75%;
      width: 60%;
      
     /*  border: 3px solid rgb(70, 15, 234);  */  

      display: flex;

      justify-content: center;
      align-items: center;
   }
       #form{
         height: 100%;
         width: 60%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
       }
       .field{
         height: 20%;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;

       }
             .field label{
               height: 50%;
               width: 100%;
               color:#091DD0;
               font-family: 'Raleway',thin,sans-serif;
               font-weight: 600;
               font-size: 18px;
               /* border: 3px solid rgb(198, 228, 5);  */

               display: flex;
               justify-content: flex-start;
               align-items: center;
               background-color: rgb(246, 186, 247);
               border: none;
               border-bottom: 4px solid #091DD0; 

            }
                 .field label:hover{
                      border-bottom: 1px solid #091DD0; 

                  }
            .field input{
               height: 50%;
               width: 100%;
               color:#091DD0;
               font-family: 'Raleway',thin,sans-serif;
               font-weight: 400;
               font-size: 12px;
               /* border: 3px solid rgb(228, 5, 213); */
               background-color:  rgb(246, 186, 247);
               border: none;
               text-decoration: none;

            }
                      #mensaje{
                        height: 25%;
                        width: 100%;
                        background-color:  rgb(246, 186, 247);

                     }
             
            #button{
               height: 11%;
               width: 35%;
               color:black;
               background-color: #FAFF04;
               text-decoration: none;
               font-family: 'Raleway',thin,sans-serif;
               font-weight: 600;
               font-size: 18px;
               border: none;
               display: flex;
               justify-content: center;
               cursor: pointer;

             }
             #button:hover{
               color:#091DD0;
               border-radius: 20px;

             }
/* ---------PÁGINA PINTURA---------- */
#white{ /* fondo blanco para todo (navbar y footer) */
   /* background-color: rgb(243, 218, 244); */
   background-color: white;

}
       .pintura{
         width: 100%;
         height: 75%;/* */ 
        /*  background-color: white; */
         /* border: 3px solid rgb(5, 207, 234);  */
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
       }
       
         .titulo{
               height: 12.5%; /* antes 25% pero pongo h3 debajo */
               width: 70%;

               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;

         }
         
            .titulo h1{ /* titulo PINTURA */
               height: 50%;
               width: 100%;

              /*  border: 3px solid rgb(238, 245, 246); */

               color:#091DD0;
               font-family: 'Raleway',thin,sans-serif;
               font-weight: 300;
               font-size: 30px;
               display: flex;
               justify-content: center;
               align-items: left;
               text-align:left; 
               text-shadow: 2px 2px 0px rgba(82, 191, 242, 0.5),
                           -2px -2px 0px rgba(252, 25, 169, 0.5),
                           -4px -4px 0px rgb(250, 255,4, 0.5); 
            }
            .titulo h3{
               height: 30%;
               width: 100%;

               color:#091DD0;
               font-family: 'Raleway',thin,sans-serif;
               font-weight: 400;
               font-size: 18px;
       
               display: flex;
               justify-content: center;
               align-items: center;
               text-align: center; 
       
               /* border: 3px solid rgb(246, 238, 238);  */
       
             }
      
         .contenedor_cuadros{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            /* border: solid 3px black; */
            width: 80%;
            height: 75%;
         }
                 .cuadros{
                    width: 60%;
                    height: 100%;
                   /*  border: solid 3px black; */
                    display: flex;
                    justify-content: center;
                    align-items: center;
      
                  }
                  .contenedor_cuadros img{
                     width: 100%;
                     display: flex;
                     justify-content: center;

                  }
                  .contenedor_cuadros a{
                     width: 15%;
                     display: flex;
                     justify-content: center;
                     cursor: pointer;
                     transform: rotate(90deg);
                    /*  border: solid 2px red; */
                  }
                  .contenedor_cuadros a img{
                    /*  width: 25%; */
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     margin: 0px auto;

                  }
                        .contenedor_cuadros a:hover{
                           font-weight: 500;
                           font-size: 12px;
            
                        }
/* -----------portfolio---------- */
         .contenedor_trabajos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            /* border: solid 3px black; */
            width: 80%;
            height: 75%;
         }
         .contenedor_trabajos img{
            width: 100%;
            display: flex;
            justify-content: center;
         }