/* RESPONSIVE */

/* TABLETS */

@media(max-width:1180px){
    /* navbar */
    .navbar a{
        font-size: 28px;

     }
  }
  @media(max-width:1024px){
    /* navbar */
    .navbar a{
        font-size: 26px;

     }
     .texto h1{ /* titulo EL ESTUDIO */
      font-size: 38px;

    }
    .direccion h1{ /* titulo CONTACT */
      font-size: 38px;

    }
    .titulo h1{ /* titulo PINTURA */
      font-size: 38px;

    }
    
     
    #irene{
      height: 60%;/* aquí */

   }
    #button{
      width: 50%;

    }
     
}

@media(max-width:1000px){

    /* navbar */
   .navbar a{
        font-size: 24px;

    }
/* texto STUDIO */
      .texto h1{ /* titulo EL ESTUDIO */
        font-size: 36px;

      }
      .texto h3{
        font-size: 17px;

      }
      /* titulo CONTACO */
      .direccion h1{ 
        font-size: 36px;

      }
      .titulo h1{ /* titulo PINTURA */
        font-size: 36px;
  
      }
      .titulo h3{
        font-size: 16px;

      }
      .frase h2{
          font-size: 12px;
        }
     /*  #irene{
        height: 55%;
  
     } */
    }
     @media(max-width:914px){
        
         .texto h3{
            width: 100%;
            font-size: 16px;
    
        }
        .encabezado p{
          font-size: 2.3rem;
    
        } 
         
      }
    @media(max-width:896px){
        #smile{
            height: 92%;
         }
        /* navbar */
        .navbar a{
            font-size: 23px;
    
         }
         .texto h1{ /* titulo EL ESTUDIO */
            font-size: 32px;
    
          }
         .texto h3{
            width: 100%;
            font-size: 15px;
    
        }
        .frase h2{
          font-size: 12px;
        }

      
        /* titulo CONTACT */
        .formulario{
          width: 80%;

        }
        .direccion h1{
          font-size: 32px;
        }
        .direccion h3{
          font-size: 11px;
          line-height: normal;
  
        }
        .field label{
 
          font-size: 14px;
          /* border: 3px solid rgb(198, 228, 5);  */
          border-bottom: 4px solid #091DD0; 

       }
       .field input{
          font-size: 11px;

       }
       #button{
          font-size: 14px;

        }
        .titulo h1{ /* titulo PINTURA */
          font-size: 32px;
    
        }
         
      }

  @media(max-width:851px){
    #smile{
        height: 90%;
     }
   
    .navbar a{
        font-size: 22px;

     }
     .texto h1{ /* titulo EL ESTUDIO */
        font-size: 30px;

      }
     
     .texto h3{
        width: 100%;

    }
    .encabezado p{
      font-size: 2.2rem;

   }
    /* titulo CONTACT */
    .direccion h1{ 
      font-size: 30px;

    }
    .field label{
      border-bottom: 3px solid #091DD0; 

   }
   .titulo h1{ /* titulo PINTURA */
    font-size: 30px;

  }
  .titulo h3{
    font-size: 15px;

  }
     
  }
  @media(max-width:750px){
    /* navbar */
    .navbar a{
        font-size: 20px;

     }
     .encabezado p{
      font-size: 1.8rem;

    } 
     .texto h1{ /* titulo EL ESTUDIO */
        font-size: 28px;

      }
     .texto h3{
        
        font-size: 12px;
    
    }
    #irene{
      height: 65%;/* aquí */

   }
    /* CONTACT */
    .direccion h1{ 
      font-size: 28px;

    }
   .direccion h3{
    font-size: 10px;
  
  }
  .titulo h1{ /* titulo PINTURA */
    font-size: 28px;

  }
  .titulo h3{
    font-size: 12px;

  }
  .contenedor_cuadros a img{
     width: 25%;
    

  }
  }
  @media(max-width:700px){
    .navbar a{
        font-size: 19px;

     }
     #smile{
        height: 88%;
     }
  
  }

/* ------ moviles ------ */
@media(max-width:600px){
  body{
    height: 120vmax;/* scroll */
    width: auto;
  }
    .navbar{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
     .navbar a{
        font-size: 24px;
     }
  
     .estudio_portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-end;
        height: 100%
    
     }
     #ep{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-end;
        height: 100%
    
     }
    .contacto_pintura{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    
     }
     #cp{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    
     }
     
     .pestañas{
        width: 100%;
        height: 100%;
        display: flex;
    
     }
       .logotipo{
          width: 50%;
          height: 30%;

         }

    #l{
        width: 50%;
        height: 30%;

     } 
          #logo{
             height: 100%;
          }
        
          #smile{
             height: 100%;
          }
          #enlace{
             width: 100%;
             height: 100%;

          }
          .body_2{
            height: 60%;
             width: 100%;
         
          }
          .smile{
             height: 65%;
             width: 100%;
          }
               #fondo_smile{
                 height: 85%;

               }
          .encabezado{
            height: 35%;

          } 
          .encabezado p{
            font-size: 2.2rem;
      
          } 

    .studio{
        height: 65%;
        width: 100%;
        
        /* border: 3px solid rgb(255, 0, 204);  */
        
         }
         .texto{
            height: 60%;
            width: 80%;
    
            display: flex;
            flex-direction: column ;
            justify-content: space-around;
            align-content: center;
          }
          .texto h1{ /* titulo EL ESTUDIO */
            height: 30%;
            display: flex;
            justify-content: flex-start;/* para movil */

            /* border: 3px solid rgb(240, 238, 246);  */
    
            font-size: 35px;
    
          }
          .texto h3{
            height: 70%;
            width: 100%;

            /* border: 3px solid rgb(240, 238, 246);  */
    
            font-size: 15px;
          }
          .imagen{/* REPASADO----------------------------------------------- */
            height: 40%;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;

          }
          .foto{
            height: 100%;
            width: 30%;

          }
             #irene{
                width: 90%;
                height: auto;
             }
          .frase{
            height: 100%;
            width: 70%;
    
          }
          .frase h2{
            font-size: 12px;
            margin-left: 4%;

          }
          .linea{
            margin-left: 4%;

         }
        /* contact */

        .direccion h1{ 
            font-size: 35px;
    
          }
          #form{
            height: 100%;
            width: 60%;
          }
          .titulo h1{ /* titulo PINTURA */
            font-size: 35px;
      
          }
          .titulo h3{
            font-size: 16px;
    
          }
          .pintura{/* ver */
            height: 65%;
            width: 100%;
            
        /*   border: 3px solid rgb(255, 0, 204);  */
            
        }
  } 
  /* ------ moviles ------ */
  @media(max-width:393px){
    
     .estudio_portfolio{
        width: 100%;
     
      }
      .contacto_pintura{
        width: 100%;
        
      }
      .encabezado p {
        font-size: 1.8rem;
    }
    
           
    .studio{
        height: 65%;
        width: 100%;
        
         }
         .texto{
            height: 60%;
            width: 85%;
     
          }
          .texto h1{ 
            font-size: 30px;
    
          }
          .texto h3{
            font-size: 14px;
            line-height: 18px;
          }
          #irene{
            width: 80%;
            height: auto;
         }
         .frase h2{
          font-size: 11px;
         }
        
        /* CONTACT */
        .formulario{
          width: 100%;

        }
         #form{
         width: 65%;
       }
        .direccion h1{
          font-size: 30px;
        }
        .direccion h3{
          line-height: normal;
  
        }
        .field label{
          font-size: 12px;

       }
       .field input{
          font-size: 10px;

       }
       #button{
          font-size: 12px;
          width: 60%;

        }
        .titulo h1{ /* titulo PINTURA */
          font-size: 30px;
    
        }
        .titulo h3{
          font-size: 14px;
  
        }
        /* cuadros / PINTURA / SLIDES */
        .contenedor_cuadros{
          flex-direction:column;
          width: 80%;
          height: 75%;

       }
               .cuadros{
                  height: 50%;
                  width: 100%;
    
                }
                .contenedor_cuadros img{
                   width: 100%;
                   align-items: center;

                }
                .contenedor_cuadros a{
                   width: 100%;
                   height: 25%;
                   align-items: center;
                   
                }
                     
  }
  @media(max-width:375px){
    
    .estudio_portfolio{
       width: 100%;
    
     }
     .contacto_pintura{
       width: 100%;
       
     }
   
          
   .studio{
       height: 65%;
       width: 100%;
       
        }
        .texto{
           height: 60%;
           width: 85%;
    
         }
      
         .texto h3{
           font-size: 14px;
           line-height: 16px;
         }
         .frase h2{
          font-size: 10px;
         }
         
        /* contact */
       
 }
  @media(max-width:360px){
           
    .studio{
        height: 65%;
        width: 100%;
        
    }
         .texto{
            height: 50%;
            width: 85%;
          }
    
          .texto h3{
            font-size: 12px;
            line-height: 16px;
          }
          .imagen{
            height: 40%;
            width: 80%;

            display: flex;
            /* flex-direction: column; */
          }
          .titulo h3{
            font-size: 12px;
    
          }
          /* contact */
        
  }
  @media(max-width:280px){

    .navbar a{
        font-size: 22px;
     }
           
    .studio{
        height: 65%;
        width: 100%;
        
       /*  border: 3px solid rgb(0, 4, 255);   */
        
         }
         .texto{
            height: 60%;
            width: 85%;
    
           /*  border: 3px solid rgb(240, 238, 246);  */ 
          }
          .texto h1{ /* titulo EL ESTUDIO */
            font-size: 25px;
    
          }
          .texto h3{
            font-size: 10px;
 
          }
  /* contact */
          .direccion h1{ /* titulo EL ESTUDIO */
            font-size: 25px;
    
          }
          .titulo h1{ /* titulo PINTURA */
            font-size: 25px;
      
          }
          .titulo h3{
            font-size: 10px;
    
          }

        
  }


